.courseItemList {
  cursor: pointer;
}

.logo {
  width: 20%;
}

#Brand {
  margin-left: 20px;
  font-weight: bold;
  color: white;
}

#SearchInput {
  
}

/* purgecss start ignore */
@tailwind base;
h1 {
  @apply text-3xl font-thin leading-loose;
}
h2 {
  @apply text-2xl font-thin leading-loose;
}
h3 {
  @apply text-xl font-thin leading-loose;

}
h4 {
  @apply font-semibold;
}
ul {
  @apply list-disc;
  @apply list-inside;
}
p {
  @apply mb-1
}

article a {
  @apply text-blue-600 underline;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 mb-3 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.panel-error {
  @apply bg-red-700 text-white font-bold py-2 px-4 rounded;
}

input {
  @apply flex-1 rounded py-2 px-4 text-gray-700 mb-3 leading-tight border border-solid border-gray-400;
}

.faculty {
  @apply rounded py-2 px-4;
}

.faculty-science {
  @apply bg-blue-200;
}

.faculty-science:hover {
  @apply bg-blue-300;
}

select {
  @apply rounded py-2 px-4 text-gray-700 mb-3 leading-tight border border-solid border-gray-400;
}

label {
  @apply py-2;
}

.courseDescription {
  @apply rounded-b py-2 px-4;
}

.courseDescription-science {
  @apply bg-blue-100;
}

.spinner {
  margin: auto;
  width: fit-content;
}

.courseDetails h1{
  text-align: center;
}

.courseDetails div{
  @apply rounded-lg;
}

.courseDetailsHeading{
  font-size: 25px;
  font-weight: bold;
}

.margin-top{
  margin-top: 10px;
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
