.courseItemList {
  margin-top: 5px;
  margin-bottom: 5px;
}

.courseItemList.BSCH {
  background-color: blue;
}

/* purgecss start ignore */
@tailwind base;
h1 {
  @apply text-3xl font-thin leading-loose;
}
h2 {
  @apply text-2xl font-thin leading-loose;
}
h3 {
  @apply text-xl font-thin leading-loose;

}
h4 {
  @apply font-semibold;
}
ul {
  @apply list-disc;
  @apply list-inside;
}
p {
  @apply mb-1
}

article a {
  @apply text-blue-600 underline;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.panel-error {
  @apply bg-red-700 text-white font-bold py-2 px-4 rounded;
}

input {
  @apply w-3/4 rounded py-2 px-4 text-gray-700 mb-3 leading-tight border border-solid border-gray-600;
}

.courseItemList.BSCH, .courseItemList.BSC {
  @apply bg-blue-200;
}

.courseItemList.BSCH:hover, .courseItemList.BSC:hover {
  @apply bg-blue-300;
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
